
{% extends "layout.html" %}
{%block title%} Home{%endblock%}
{% block main %}

		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/home-background.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">Welcome!</h1>
							<p class="lead white-text">Make clean, attractive, accurate and professional looking result at great speed and convenience</p>
							<a class="main-button icon-button" href="/blog-post">See Demo!</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>Impress your parents with beautiful and timely term result!</h2>
							<p class="lead">Make result in three simple steps.</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Admins Role</h4>
								<p>Register your school account, choose an admin password and username. you will be emailed a general password for Teachers</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Class Teachers Role</h4>
								<p>Class Teachers create classes and submit class list with the general password</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Subject Teachers Role</h4>
								<p>Each Subject's Teacher can then submit their scoresheet and thats all! Schoolresultoneline does the rest</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="/static/img/about.png" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">

			<!-- container -->
			<div class="container">
							<div class="col form-w3ls">
								<div id="tab-group" class="tab-group cl-effect-4 row">
									<li class="tab active col"><a href="#signin-agile"><b>Log-in</b></a></li>
									<li class="tab col"><a href="#signup-agile"><b>Register</a></b></li>
								</div>
									<div class="tab-content" id="login-tab-content">
										<div id="signin-agile">
											 <form  action = "/login" method="post" id="login_form">
												 <input type="text" id="username" name="username" placeholder="User Name" required="required"/>
												 <div class="red" id="signin_message"></div>
												 <input type="password" id="password" name="password" placeholder="password" required="required"/>
												 <div class="red" id="password_message"></div>
												 <div class="psw">Forgot <a href="/change_password">password?</a></div>
												 <div><input name="remember_me" type="checkbox" id="brand" value="checked">Remember me</div>
												 <button type="submit" id="login" class="sign-in" value="Sign In">log-in</button>
											 </form>
						
										</div>
										  <div id="signup-agile">
												<form id="register" action="/register" method="post">
													<hr>
													 <h3 class="message"><b>School information</b></h3>
												   <input  name="school_name" placeholder="school name" type="text" required="required">
												   <div class="red" id="schoolname_message"></div>
						
													<input  name="email" placeholder="email" type="email" required="required"/>
													<div class="red" id="email_message"></div>
						
													<div class="row">
						
														<div  class="col">
															<select name="term" id="term"  aria-required="true">
															<option  value="" selected="" disabled="">term</option>
																	<option  value="1">first</option>
																	<option  value="2">second</option>
																	<option  value="3">third</option>
															</select>
															<div class="arrow"></div>
															<div class="red" id="term_message"></div>
														</div>
						
														<div  class="col">
															<select name="school_session" id="school_session"  aria-required="true" >
															<option  value="">session</option>
																	<option  value="2018/2019">2018/2019</option>
																	<option  value="2019/2020">2019/2020</option>
																	<option  value="2020/2021">2020/2021</option>
															</select>
															<div class="arrow"></div>
															<div class="red" id="session_message"></div>
														</div>
													</div>
						
													<hr>
													<h3 class="message"><b>login details</b></h3>
													<input  name="username" placeholder="Username" type="text" id="user" required="required"/>
													<div class="red" id="username_message"></div>
						
													<div><input placeholder="password" type="password" id="psw" name="password" pattern=".{8,}" title="Must contain at least 8 or more characters" required="required">
														<div class="red" id="password_message"></div></div>
													<div>
													  <p id="length2" class="invalid">Minimum <b>8 characters</b></p>
													</div>
													<input  name="confirmation" placeholder=" confirm Password" type="password" required="required"/>
													<div class="red" id="confirmation_message"></div>
						
													<p>By clicking Register, you agree to the <a href="/terms" target="_blank">Terms of Service</a> and you acknowledge that Schoolresult and each Member process your school's and personal data in accordance with the <a href="/privacy" target="_blank">Privacy Policy</a>.</p>
						
													<button type="submit" class="sign-in" id="submit_registration" value="Register">Register</button>
													</div>
											</form>
										 </div>
									 </div><!-- tab-content -->
								 </div> <!-- /form -->		
			</div>
			<!-- container -->

		</div>
		<!-- /Courses -->

		<!-- Why us -->
		<div id="why-us" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Benefits of Schoolresultonline</h2>
						<p class="lead">No more Parents or student  complain for errors or delayed result. Fast and accurate </p>
					</div>

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online And offline results</h4>
								<p>Results can be checked online easily in many formats or printed offline and distributed </p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Convenience for Teachers</h4>
								<p>Teachers dont need to spend days on results just submit your scoresheet. Thats all!</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Make Money</h4>
								<p>Students buy scratch card at your rate or free, you decide.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

				</div>
				<!-- /row -->



			</div>
			<!-- /container -->

		</div>
		<!-- /Why us -->

		<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/cta2-background.jpg)"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">Contact Us</h2>
						<p class="lead white-text">Want to make further enquires?</p>
						<a class="main-button icon-button" href="#">Contact Us Now</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->
<!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
	<script src="/static/js/register.js"></script>
	<script src="/static/js/index.js"></script>
<!-- /js files -->


	{% endblock %}
